
<div class="well" >
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('accueil') }}">Front office</a>
        </li>
    </ul>
</div>

    <div class="well" >
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('produit') }}">Produits</a>
            </li>
            <li>
                <a href="{{ path('categorie') }}">Catégories</a>
            </li>
            <li>
                <a href="{{ path('offre') }}">Offres</a>
            </li>
        </ul>
    </div>

    <div class="well" >
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('utilisateur') }}">Utilisateurs</a>
            </li>
        </ul>
    </div>

