<table class="table-striped table-bordered table-hover" style="margin-top: 30px;width: 600px;" id="categorie_tab">
    <thead>
    <tr>

        <th style="width: 450px;">Nom</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>

            <td>{{ entity.nom }}</td>
            <td>


                <a class="btn btn-danger btn-sm" onclick="supprimercategorie({{ entity.id }} )"> <span class="icon-trash "></span></a>

                <a class="btn btn-info btn-sm" id="{{ entity.id }}" role="button" data-toggle="modal" href="#edit_produit_{{ entity.id }}" onclick="editercategorie({{ entity.id }} )"><span class="icon-pencil"></span></a>


            </td>


            <div id="edit_categorie_{{ entity.id }}" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Edite Categorie</h4>
                        </div>
                        <div class="modal-body">


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <button type="button" class="btn btn-primary" id="add_save_categorie_{{ entity.id }}" onclick="editercategorieSave({{ entity.id }})">Update</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


        </tr>
    {% endfor %}
    </tbody>
</table>
